  @* @page "/category/{categoryId}"  *@
  @page "/category/{name}"
  @page "/category"



<!-- Page title-->
<section class="bg-darker bg-size-cover bg-position-center py-5" style="background-image: url(img/food-delivery/category/pt-bg.jpg);">
    <div class="container py-md-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                <li class="breadcrumb-item"><a class="text-nowrap" href="@("/")"><i class="ci-home"></i>Home</a></li>
                <li class="breadcrumb-item text-nowrap">
                    <a href="@("/")">All categories</a>
                </li>
                <li class="breadcrumb-item text-nowrap active" aria-current="page">@Name</li>
            </ol>
        </nav>
        <h1 class="text-light text-center text-lg-start pt-3"> @Name </h1>
    </div>
</section>
<Categories/>
<!-- Items grid-->
<section class="container py-4 py-sm-5">
    <div class="row pt-3 pt-sm-0">

        @foreach(var restaurant in _restaurants)
        {
            
        <div class="col-md-4 col-sm-6 mb-grid-gutter">
            <a class="card product-card h-100 border-0 shadow pb-2" @onclick="()=> NavigateToRestaurant(restaurant.RestaurantId)">
                @* <span class="badge badge-end badge-shadow bg-success fs-md fw-medium" data-bs-toggle="tooltip" title="Average meal cost">Reduced: R36.<small>00</small></span> *@
                <img class="card-img-top" src="@restaurant.ImageUrl" alt="McDonald's">
                <div class="bg-white rounded-3 pt-1 px-2 mx-auto mt-n5" style="width: 175px;"><img class="d-block rounded-3 mx-auto" src="@restaurant.LogoUrl" width="150" alt="Brand"></div>
                <div class="card-body text-center pt-3 pb-4">
                    <h3 class="h5 mb-2"> @restaurant.Name </h3>
                    <div class="fs-ms text-muted">@restaurant.Tags</div>
                </div>
            </a>
        </div>
        }

    </div>

    <IncrementalPager PageIndex="RestaurantList.PageIndex" TotalPages="RestaurantList.TotalPages" 
    HasNextPage="RestaurantList.HasNextPage" HasPreviousPage="RestaurantList.HasPreviousPage"
    Increment="_restaurantCount" TotalItems="_restaurantTotalCount" OnClick="async()=>await LoadMore()"

    />
</section>