@page "/track-order/{orderId:guid}"
@page "/track-order"
<OrderDetailsModal OrderId="_selectedOrder.OrderId" OnClose="CloseOrderDetails" />


@if(_order==null && _orders.TotalCount <=0)
{
    <div class="container pb-5 mb-sm-4">
        <div class="pt-5">
            <div class="card py-3 mt-sm-3">
                <div class="card-body text-center">
                    <h2 class="h4 pb-3">You haven't placed any orders yet!</h2>
                    @* <p class="font-size-sm mb-2">Your order has been placed and will be processed as soon as possible.</p> *@
                    @* <p class="font-size-sm mb-2">Make sure you make note of your order number, which is <span class="font-weight-medium">34VB5540K83.</span></p> *@
                    <p class="font-size-sm">Browse our wide selection of products and <u>pick some treats.</u></p>
                    <a class="btn btn-secondary mt-3 mr-3" href="@("/restaurants")">Go back shopping</a>
                    @* <a class="btn btn-primary mt-3" href="order-tracking.html"><i class="czi-location"></i>&nbsp;Track order</a> *@
                </div>
            </div>
        </div>
    </div>
}

@if(_order !=null)
{
    <!-- Page Title (Dark)-->
        <div class="bg-dark py-4">
            <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
                <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                            <li class="breadcrumb-item"><a class="text-nowrap" href="@("/")"><i class="ci-home"></i>Home</a></li>
                            <li class="breadcrumb-item text-nowrap">
                                <a href="@("/restaurants")">Shop</a>
                            </li>
                            <li class="breadcrumb-item text-nowrap active" aria-current="page">Order tracking</li>
                        </ol>
                    </nav>
                </div>
     
                <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
                    <h1 class="h3 text-light mb-0">Tracking order: <span class="h4 fw-normal text-light">@_order.OrderNumber</span></h1>
                </div>
            </div>
        </div>
        <TrackedOrder Order="_order" OnShowOrderDetails="ShowOrderDetails"/>
}

@if(_orders.TotalCount >0 && _order==null)
{
        <!-- Page Title (Dark)-->
        <div class="bg-dark py-4">
            <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
                <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                            <li class="breadcrumb-item"><a class="text-nowrap" href="@("/")"><i class="ci-home"></i>Home</a></li>
                            <li class="breadcrumb-item text-nowrap">
                                <a href="@("/restaurants")">Shop</a>
                            </li>
                            <li class="breadcrumb-item text-nowrap active" aria-current="page">Order tracking</li>
                        </ol>
                    </nav>
                </div>
     
                <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
                    <h1 class="h3 text-light mb-0">Your pending orders <span class="h4 fw-normal text-light"></span></h1>
                </div>
            </div>
        </div>

        @foreach(var order in _orders.Orders)
        {
                <TrackedOrder Order="order" OnShowOrderDetails="ShowOrderDetails" />
        }
}


