  <!-- Item-->
<div class="col-lg-3 col-md-4 col-sm-6 mb-grid-gutter">
    <div class="card product-card border pb-2">
        <a class="d-block" href="#quick-view" @onclick=@(async ()=>await OnMenuItemSelected.InvokeAsync(Item)) data-bs-toggle="modal"><img class="card-img-top" src="@Item.ImageUrl" alt="Pizza"></a>
        <div class="card-body pt-1 pb-2">
            <h3 class="product-title fs-md"><a href="#quick-view" data-bs-toggle="modal">@Item.Name</a></h3>
            <p class="fs-ms text-muted">@Item.Description</p>
            @*         <div class="d-flex mb-1">
            <div class="form-check form-option form-check-justified mb-2">
            <input class="form-check-input" type="radio" name="size1" id="s1" checked>
            <label class="form-option-label" for="s1">Small</label>
            </div>
            <div class="form-check form-option form-check-justified mb-2">
            <input class="form-check-input" type="radio" name="size1" id="m1">
            <label class="form-option-label" for="m1">Medium</label>
            </div>
            <div class="form-check form-option form-check-justified mb-2">
            <input class="form-check-input" type="radio" name="size1" id="l1">
            <label class="form-option-label" for="l1">Large</label>
            </div>
            </div> *@
            @*         <div class="d-flex mb-3">
            <div class="form-check form-option form-check-justified mb-2">
            <input class="form-check-input" type="radio" name="base1" id="standard1" checked>
            <label class="form-option-label" for="standard1">Standard</label>
            </div>
            <div class="form-check form-option form-check-justified mb-2">
            <input class="form-check-input" type="radio" name="base1" id="thin1">
            <label class="form-option-label" for="thin1">Thin</label>
            </div>
            </div> *@
            <div class="d-flex align-items-center justify-content-between">
                <div class="product-price"><span class="text-accent">@($"R {Item.Price}")</span></div>
                <button @onclick="async()=> await AddToCart(Item)" class="btn btn-primary btn-sm " type="button">@(_cartQuantity ==0 ? "+": _cartQuantity)<i class="ci-cart fs-base ms-1"></i></button>
            </div>
        </div>
    </div>
</div>